# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store
Debug/
Hardware/EnvironmentalDataLogger/_autosave-EnvironmentalDataLogger.kicad_sch
Hardware/EnvironmentalDataLogger/#auto_saved_files#
Hardware/EnvironmentalDataLogger/~EnvironmentalDataLogger.kicad_sch.lck
Hardware/EnvironmentalDataLogger/EnvironmentalDataLogger.kicad_pcb
Hardware/EnvironmentalDataLogger/EnvironmentalDataLogger.kicad_prl
Hardware/EnvironmentalDataLogger/EnvironmentalDataLogger.kicad_pro
Hardware/EnvironmentalDataLogger/EnvironmentalDataLogger.kicad_sch
Hardware/EnvironmentalDataLogger/EnvironmentalDataLogger-backups/EnvironmentalDataLogger-2024-10-30_102452.zip
Hardware/EnvironmentalDataLogger/EnvironmentalDataLogger-backups/EnvironmentalDataLogger-2024-10-30_103125.zip
Hardware/EnvironmentalDataLogger/EnvironmentalDataLogger-backups/EnvironmentalDataLogger-2024-10-30_113327.zip

build/
STM32-EnvironmentalDataLogger/CMakeCache.txt
STM32-EnvironmentalDataLogger/compile_commands.json
STM32-EnvironmentalDataLogger/cmake_install.cmake
